        /* Desktop */

        @media screen and (min-width: 990px) {
    
            .burgermenu {
                display: none;
            }
            .header {
                width: 100%;
                background-color: #fff;
                height: 5em;
                grid-area: header;
                display: grid;
                grid-template:
                "logo nav" 1fr 
                / 1fr 3fr 1fr;
                
            }  

            .main {
                justify-content: center;
                align-items: center;
                grid-area: main;
                background-color: green;
                background-image: url('../images/Olstugankville.jpg');
                background-position: center;
                background-size: cover;
                display: grid;
                grid-template:
                "infoblad" 1fr
                "." 20px
                "container-c" 30vh
                / 60vh;
            }
        
        
            .infoblad {
                grid-area: infoblad;
                background-color: rgb(220, 201, 173);
                text-align: center;
                padding: 6em 4em;
                font-size: 20px;
        
            }
            .infokville {
                font-family: 'caveat', cursive;
                padding-bottom: 1em;
                margin: 0 1em;
                font-size: 60px;
                font-weight: bold;
            }
        
            nav {
                height: 2em;
                grid-area: nav;
                display: grid;
                grid-template: 
                "menualt menualt menualt" 1fr;
                justify-content: space-evenly;
            }
            
        }
        
                /* Tablet - här finns samma selector som query'n över med minimala justeringar */
        
        @media screen and (max-width: 990px) {
            
            
            .header {
                width: 100%;
                background-color: #fff;
                grid-area: header;
                height: 5em;
                display: grid;
                grid-template:
                "logo nav" 1fr 
                / 1fr 3fr;
            }

            .main {
                justify-content: center;
                align-items: center;
                grid-area: main;
                background-color: green;
                background-image: url('../images/Olstugankville.jpg');
                background-position: center;
                background-size: cover;
                display: grid;
                grid-template:
                "infoblad" 1fr
                "." 20px
                "container-c" 30vh
                / 60vh;
            }
        
        
            .infoblad {
                grid-area: infoblad;
                background-color: rgb(220, 201, 173);
                text-align: center;
                padding: 6em 4em;
                font-size: 20px;
            }
            .infokville {
                font-family: 'caveat', cursive;
                padding-bottom: 1em;
                margin: 0 1em;
                font-size: 60px;
                font-weight: bold;
            }
        
            nav {
                height: 2em;
                margin-left: 7em;
                grid-area: nav;
                display: grid;
                grid-template: 
                "menualt menualt menualt" 1fr;
                justify-content: space-evenly;
            }
        
            
        }
        
         /* Här är en liten quick-fix pga burgarmenyn */
        @media screen and (min-width: 600px) {
            
            .burgermenu {
                display: none;
            }
        }
        
        
        
                /* Smartphone */
        
        @media screen and (max-width: 600px) {
            
            nav {
                display: none;
            }
        
            .header {
                width: 100%;
                background-color: #fff;
                grid-area: header;
                height: 5em;
                display: grid;
                grid-template:
                "logo burgermenu" 1fr 
                / 1fr 1fr;
            }
        
            .burgermenu {
                color: #000;
                grid-area: burgermenu;
                justify-self: end;
                padding-right: 20%;
            }

            .main {
                justify-content: center;
                align-items: center;
                grid-area: main;
                background-color: green;
                background-image: url('../images/Olstugankville.jpg');
                background-position: center;
                background-size: cover;
                display: grid;
                grid-template:
                "infoblad" 1fr
                "." 20px
                "container-c" 30vh
                / 100%;
            }
        
            .infoblad {
                grid-area: infoblad;
                background-color: rgb(220, 201, 173);
                text-align: center;
                padding: 6em 4em;
                font-size: 15px;
            }
        
            .infokville {
                font-family: 'caveat', cursive;
                padding-bottom: 1em;
                margin: 0 1em;
                font-size: 40px;
                font-weight: bold;
            }
        }